Flask
Flask-Bootstrap
Flask-Login
Flask-Moment
Flask-PageDown
Flask-Psycopg2
Flask-SQLAlchemy
Flask-Script
Flask-WTF
Jinja2
MarkupSafe
SQLAlchemy
Unidecode
WTForms
Werkzeug
dominate
itsdangerous
psycopg2
python-slugify
