{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Add Categories{% endblock %}
{% block page_content %}
<div class="page-header">
    <h2>Categories</h2>
</div>
<div class="col-md-10">
    {{ wtf.quick_form(form,form_type='horizontal') }}
</div>
<div class="col-md-6">
    <br>
<table class="table">
    <thead>
    <tr>
        <th>Category</th>
        <th>Navigation</th>
    </tr>
    </thead>
    <tbody>
    {% for category in categories %}
    <tr>
        <td>{{ category.name }}</td>
        <td>{{ category.navigation }}</td>
        <td><a class="btn-sm btn-primary" href= "{{ url_for('admin.editCategory', id=category.id) }}">Edit</a></td>
        <td><a class="btn-sm btn-danger" data-toggle="modal" data-target="#myModal-{{category.id}}"
               >Delete</a></td>
        <!-- Modal -->
<div id="myModal-{{category.id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-danger">Warning</h4>
      </div>
      <div class="modal-body">
        <p>This action will delete the category {{category.name }} permanently.<br>
          {% if getPosts(category.id) %}
          There are posts which belong to this category. If you continue, posts will be moved to the default category.
          <br>
            {% endif %}
          Do you want to continue ?
          </p>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-danger" href="{{ url_for('admin.deleteCategory', id=category.id) }}">Delete</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
{% endblock %}
