{% extends "base.html" %}
{% block title %}
Admin Console
{% endblock %}

{% block page_content %}
<div class="page-header">
<h1>Welcome to the Admin Console</h1>
</div>
<div class="clearfix content-heading media col-lg-12">
<div class="col-lg-8 media">
<img class="pull-left" src="{{ current_user.gravatar(size=120) }}">
<span class="text-primary lead capitalize">{{ current_user.firstname }} {{ current_user.lastname }}</span><br>
<span class="">{{ current_user.username }}</span><br>
<span class=""><a href="mailto://{{ current_user.email }}">{{ current_user.email }}</a> </span><br>
<br>
<a href="{{ url_for('admin.editProfile') }}">Edit your profile</a>
</div>
<div class="col-lg-4" style="padding: 20px">
    <span >Admin tasks</span><br>
<span >   <a href="{{ url_for('admin.addCategory') }}">Manage Categories</a> </span><br>
    <span >   <a href="{{ url_for('admin.manageUsers') }}">Manage Users</a> </span><br>
    <span >   <a href="{{ url_for('admin.createPost') }}">Write post</a> </span><br>
    <span >   <a href="{{ url_for('admin.managePosts') }}">Manage posts</a> </span>
    </div>
    </div>
{% endblock %}
