{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Manage users{% endblock %}
{% block page_content %}
<div class="page-header">
    <h2>Manage Users</h2>
    <a href="{{url_for('admin.createUser')}}">Add new Users</a>
</div>
<!--<div class="col-lg-12">-->
<div class="col-lg-10">
<table class="table">
    <thead>
    <tr>
    <td>User Name</td>
    <td>Email</td>
    <td>Name</td>
    <td>Member since</td>
    <td >Admin</td>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td><img src={{user.gravatar(size=18)}}>&nbsp; <a href="{{url_for('admin.editUser',id=user.id)}}">{{ user.username }}</a></td>
        <td><a href="mailto://{{user.email}}">{{user.email}}</a></td>
        <td>{{ user.firstname | title}} {{ user.lastname | title}}</td>
        <td>{{ moment(user.member_since).format('LLL') }}</td>
        <td >{{ user.isadmin }}</td>
        <td><a type="button" class="btn-sm btn-primary" href="{{url_for('.editUser',id=user.id)}}" >Edit</td>
        <td><a data-toggle="modal" class="btn-sm btn-danger" data-target="#myModal-{{user.id}}">
               Delete</a></td>
        <!-- Modal -->
<div id="myModal-{{user.id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-danger">Warning</h4>
      </div>
      <div class="modal-body">
        <p>This action will delete the user {{user.nickname }} permanently. Do you want to continue?</p>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-danger" href="{{ url_for('admin.deleteUser', id=user.id) }}">Delete</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
    <!--</div>-->
{% endblock %}
