{% extends "navbar.html" %}

{% block title %}
Chasm
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
<script href="{{url_for('static', filename='jquery-2.1.4.min.js')}}"></script>
<link rel="icon" type="image/x-icon" href="{{url_for('static',filename='icons/favicon.ico')}}">
{{ moment.include_jquery() }}
{{ moment.include_moment() }}
{{ pagedown.html_head() }}
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}


{% block content %}
<div class="container">
{% for message in get_flashed_messages() %}
<div class="alert alert-info">  
  <a class="close" data-dismiss="alert">×</a>
  {{ message }} 
  </div>
{% endfor %}
{% block page_content %} 
{% endblock %}
</div>
{% endblock %}